.tabs {

  ol {
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 20px 15px;
  }


  a {
    background-color: white;
    border: 1px solid white;
  }


  a:visited {
    color: lightseagreen;
  }

  a:hover {
    cursor: pointer;
    color: forestgreen;
  }

  .btn {
    border: 0;
    line-height: 2;
    text-align: center;
    background: none;
  }

  .btn:hover {
    color: lightblue;
  }

  .btn:active {
    //box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    //inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .line {
    height: 1px;
    position: relative;
    background: gray;
  }

}
